<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Check suggestion</title>
</head>
<body>
    <h1>Check suggestion</h1>
    <p>Amount quotes: {{ count_of_quotes }}</p>
    <p>Amount deals: {{ amount_of_deals }}</p>
    <p>Successful deals: {{ successful_count }}</p>
    <p>Unsuccessful deals: {{ unsuccessful_count }}</p>
    <p>Fin. result: {{ fin_res }}</p>
    {% for deal in deals %}
        <p>{{ deal.5 }}: date: {{ deal.0 }}, time: {{ deal.1 }}, result: {{ deal.2 }}, buy: {{ deal.3 }}, sell {{ deal.4 }}</p>
    {% endfor %}
</body>
</html>