<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Check suggestion</title>
</head>
<body>
    <h1>Check suggestion</h1>
    <p>Amount quotes:</p>
    <p>Amount deals:</p>
    <p>Successful deals:</p>
    <p>Unsuccessful deals:</p>
    <p>EoD successful deals:</p>
    <p>EoD unsuccessful deals:</p>
    {% for deals in pnl %}
    <p>{{ deals }}</p>
    {% endfor %}
</body>
</html>